/* You can add global styles to this file, and also import other style files */
@import './app/css/subasta-card.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet + * {
  flex: 1;
}

.app-footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
}